# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# test / coverage
/coverage

# typescript
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# misc
.DS_Store
*.pem

# env files
.env*.local
